<body>
    <div class="card">
        <div class="card-border">
            <div class="card-border-left"></div>
            <div class="card-border-right"></div>
        </div>
        <div class="card-content">
            <h1>Welcome back @Global.CurrentUser.Email</h1>
        </div>
    </div>
</body>
<style>
    body {
        background-color: #f7f7f7;
    }

    .card {
        height: fit-content;
        margin-left: 5%;
        background-color: white;
        margin: 50px 15px 20px 15px;
        position: initial;
    }

    .card-border {
        width: 100%;
        height: 4px;
        display: flex;
    }

    .card-border-left {
        width: 50%;
        background-color: #fd637a;
    }

    .card-border-right {
        width: 50%;
        background-color: black;
    }

    .card-content {
        padding: 10px 15px;
    }
</style>